.huge
  - if conference.splashpage && conference.splashpage.public
    = link_to conference.title, main_app.conference_path(conference.short_title), class: 'conference-link'
  - else
    = conference.title
.h4
  %span.fa.fa-calendar-o
  = date_string(conference.start_date, conference.end_date)
- if conference.venue
  .h4
    %span.fa.fa-map-marker
    = "#{conference.venue.city}"
    = "#{conference.venue.country_name}"